body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.flex-start-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.carousel-container {
    overflow: hidden;
    border-bottom: 6px solid var(--button-color);
    width: 100%;
}

.carousel {
    display: flex;
    width: 100%;
}

.button {
    flex: 0 0 calc(90vw / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px; /* Adjust the height as needed */
    color: black;
    background: transparent;
    transition: background 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}

.button.active {
    background: var(--button-color);
    color: white;
}

.event {
    height: 46px;
    border-bottom: 1px solid black;
}

.event-type {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 64px;
    padding: 0 10px;
}

.description {
    margin: 0;
    font-size: 14px;
}

.current-score {
    margin-right: 10px;
}

.player-selector {
    background-color: #D9D9D9;
    color: black;
    border-radius: 4px;
    height: 46px;
}

.player-group-players {
    gap: 8px;
    margin: 0 8px;
    width: calc(100% - 16px);
}

.player-name {
    margin: auto;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    outline: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><path d="M0 0 L10 0 L5 5 z" fill="black"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px 5px;
    padding: 0 1em 0 0;
    color: black;
}

.tracker-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--button-color); 
    border: 0;

    color: var(--text-color);
    text-decoration: none;

    font-size: 18px;

    width: 256px;
    height: 48px;

    font-weight: 400;
    font-style: normal;

    border-radius: 4px;

    transition-duration: 0.4s;
    cursor: pointer;
}

.stat-selector-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent; 
    border: 2px solid var(--button-color);

    color: black;
    text-decoration: none;

    font-size: 16px;

    width: 112px;
    height: 42px;

    font-weight: 400;
    font-style: normal;

    border-radius: 4px;

    transition-duration: 0.4s;
    cursor: pointer;
}

.stat-selector-button.active {
    background-color: var(--button-color);

    color: var(--text-color);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    top: -32px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}