body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.flex-start-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.player-selector {
    background-color: #D9D9D9;
    color: black;
    border-radius: 4px;
    height: 46px;
}

.player-group-players {
    gap: 8px;
    margin: 0 8px;
    width: calc(100% - 16px);
}

.player-name {
    margin: auto;
}

.switch-button {
    background: var(--button-color);
    border-radius: 4px;
    width: calc(100% - 12px);
    border: 0;
    color: white;
    height: 32px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    top: -32px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.small-lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.small-lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 48px;
    height: 48px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.small-lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.small-lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.small-lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes small-lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.event-type {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 64px;
    padding: 0 10px;
}

.description {
    margin: 0;
    font-size: 14px;
}

.current-score {
    margin-right: 10px;
    text-align: center;
}

.swipe-content {
    flex-grow: 1;
    transition: transform 0.3s ease;
    height: 100%;
    background-color: lightgray;
    z-index: 1;
}

.delete-btn {
    width: 100px;
    height: 100%;
    background-color: red;
    color: white;
    border: none;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

#match-event-swipe {
    position: relative;
}

.transition-back {
    transition: transform 0.3s ease;
}