{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/matches/detail.css">
        <link rel="stylesheet" href="/static/css/color/color.css">

        <link rel="icon" href="/static/images/logo/KWT_logo.png" type="image/x-icon">
        
        <link rel="manifest" href="/static/json/manifest.json">
        <script src="/static/js/pwa/service-worker.js"></script>
    </head>
    <body>
        {% include 'overlays/navbar.html' %}

        <div class="flex-column" style="margin-top: 48px;">
            <div class="flex-column" style="width: calc(100% - 32px); margin: 0 16px;">
                <div class="flex-row" style="justify-content: flex-start;">
                    <p style="font-weight: 600; font-size: 14px; margin-bottom: 8px;">{{ start_date }}</p>
                </div>
                <div class="flex-row" style="margin-top: 6px; margin-bottom: 6px;">
                    <a href="{{ match.home_team.get_absolute_url }}" class="flex-column" style="justify-content: flex-start; text-decoration: none; color: black;">
                        <img src="{{ match.home_team.club.logo.url }}" alt="{{ match.home_team }}" width="64px" height="64px" style="border-radius: 50%; object-fit: contain;">
                        <h2 style="margin: 4px 0; font-size: 16px;">{{ match.home_team|truncate_middle:12 }}</h2>
                    </a>

                    <div class="flex-column" style="justify-content: center; margin-top: -14px;">
                        {% if match.finished %}
                            <p style="margin: 0; font-size: 16px; font-weight: 600;">Uitslag</p>
                        {% else %}
                            {% if match.status == 'active' %}
                                <p id="counter" style="margin: 0; font-size: 20px; font-weight: 600;">{{ time_display }}</p>
                            {% else %}
                                <p id="counter" style="margin: 0; font-size: 20px; font-weight: 600;">{{ start_time }}</p>
                            {% endif %}
                        {% endif %}

                        <p id="score" style="margin: 0;">{{ home_score }} / {{ away_score }}</p>
                    </div>

                    <a href="{{ match.away_team.get_absolute_url }}" class="flex-column" style="justify-content: flex-start; text-decoration: none; color: black;">
                        <img src="{{ match.away_team.club.logo.url }}" alt="{{ match.away_team }}" width="64px" height="64px" style="border-radius: 50%; object-fit: contain;">
                        <h2 style="margin: 4px 0; font-size: 16px;">{{ match.away_team|truncate_middle:12 }}</h2>
                    </a>
                </div>
            </div>

            <div class="carousel-container">
                <div class="carousel">
                    <a class="button active" data="match_events">Events</a>
                    <a class="button" data="home_team">{{ match.home_team|truncate_middle:12 }}</a>
                    <a class="button" data="away_team">{{ match.away_team|truncate_middle:12 }}</a>
                    {% if match.status != 'upcomming' %}
                    <a class="button" data="get_stats">statastieken</a>
                    {% endif %}
                </div>
            </div>
            <div id="info-container" style="height: calc((var(--vh, 1vh) * 100) - 307px); width: 100%; overflow-y: scroll;">

            </div>
        </div>

        <p style="display: none;" id="user_id">{{ request.user.id }}</p>

        <script src="/static/js/common/common.js"></script>
        <script src="/static/js/matches/detail.js"></script>
        <script src="/static/js/programs/mobile_view.js"></script>
    </body>
</html>