{% load static %}
{% load truncate_middle %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta name="description" content="">
        
        <link rel="stylesheet" href="/static/css/matches/tracker.css">

        {% include 'common/imports.html' %}
    </head>
    <body>
        {% include 'overlays/navbar.html' %}

        <div class="flex-column" style="margin-top: 48px;">
            <div class="flex-row" style="width: 100%; margin: 12px 0;">
                <div style="width: calc(100% * 1/3)" class="flex-column">
                    <button id="end-half-button" class="switch-button" style="background: red; display: none;">einde</button>
                </div>
                <div style="width: calc(100% * 1/3)" class="flex-column">
                    <p style="font-size: 14px; margin: 0;">Perioide <span id="periode_number">{{ match.current_part }}</span>/{{ match.parts }}</p>
                    <p id="counter" style="font-size: 18px; font-weight: 600; margin: 0;">{{ time_display }}</p>
                </div>
                <div style="width: calc(100% * 1/3)" class="flex-column">
                    <button id="start-stop-button" class="switch-button">{{ start_stop_button }}</button>
                </div>
            </div>

            <div style="margin: 0 24px; width: calc(100% - 48px)" class="flex-row">
                <div id="{{ team_1.id_uuid }}" class="flex-column" style="width: 50%">
                    <p style="margin: 0;">{{ team_1|truncate_middle:14 }}</p>
                    <div id="home-score" style="background: #43ff6480; border-radius: 4px 0 0 4px; width: 100%; height: 46px;" class="flex-center">
                        <p style="margin: 0; padding: 0; font-size: 26px;">{{ team_1_score }}</p>
                    </div>
                </div>
                <div id="{{ team_2.id_uuid }}" class="flex-column" style="width: 50%">
                    <p style="margin: 0;">{{ team_2|truncate_middle:14 }}</p>
                    <div id="away-score" style="background: rgba(235, 0, 0, 0.5); border-radius: 0 4px 4px 0; width: 100%; height: 46px;" class="flex-center">
                        <p style="margin: 0; padding: 0; font-size: 26px;">{{ team_2_score }}</p>
                    </div>
                </div>
            </div>

            <div id="match-event-swipe" class="flex-row" style="margin-top: 24px; height: 64px; width: 100%; background: lightgray; overflow: hidden;">
                <div id="match-event" class="flex-row swipe-content" style="width: 100vw">
                    <!-- Your content here -->
                </div>
                <button id="deleteButton" class="delete-btn">Delete</button>
            </div>            
            
            <div id="players" style="height: calc((var(--vh, 1vh) * 100) - 315.5px); width: 100%;">

            <div>
        </div>

        <script src="/static/js/common/truncateMiddle.js"></script>
        <script src="/static/js/matches/common/countdownTimer.js"></script>
        <script src="/static/js/matches/common/onPlayerSelectChange.js"></script>
        <script src="/static/js/matches/common/playerGroups.js"></script>
        <script src="/static/js/matches/common/events.js"></script>
        <script src="/static/js/matches/tracker.js"></script>
        <script src="/static/js/programs/mobile_view.js"></script>
    </body>
</html>