{% load static %}

<link rel="stylesheet" href="https://use.typekit.net/pbm5dyg.css" />
<link rel="stylesheet" href="{% static 'css/overlays/navbar.css' %}" />
<script src="{% static 'webpack_bundles/navbar.bundle.js' %}"></script>

<div class="stickyTopNav">
    <div
        style="
            width: calc(100% * 1 / 3);
            display: flex;
            justify-content: flex-start;
            align-items: center;
        "
    >
    <div
        id="return-button"
        style="
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 12px;
        "
    >
        <img
            style="width: 32px; height: 32px"
            alt="back button"
            src="{% static 'images/arrow-left.svg' %}"
        />
    </div>
    </div>
    <p style="color: white; font-weight: 600; font-size: 20px">KWT</p>
    <div style="width: calc(100% * 1 / 3)"></div>
</div>

<div class="stickyBottomNav">
    <ul>
        <li>
            <a href="{% url 'index' %}" style="width: 42px"
                ><img alt="home" src="{% static 'images/navbar/home.svg' %}"
            /></a>
        </li>
        <li>
            <a href="{% url 'catalog' %}" style="width: 42px"
                ><img alt="catalog" src="{% static 'images/navbar/group.svg' %}"
            /></a>
        </li>
        {% if user.is_authenticated %} {% if profile_img_url %}
        <li>
            <a href="{{ profile_url }}" style="width: 42px"
                ><img
                    alt="profile"
                    style="
                        height: 32px;
                        width: auto;
                        border-radius: 50%;
                        border: 2px solid white;
                    "
                    src="{{ profile_img_url }}"
            /></a>
        </li>
        {% else %}
        <li>
            <a href="{{ profile_url }}" style="width: 42px"
                ><img alt="profile" src="{% static 'images/navbar/profile.svg' %}"
            /></a>
        </li>
        {% endif %} {% else %}
        <li>
            <a href="{% url 'login' %}" style="width: 42px"
                ><img alt="login" src="{% static 'images/navbar/login.svg' %}"
            /></a>
        </li>
        {% endif %}
    </ul>
</div>

<script>
    if (window.matchMedia('(display-mode: standalone)').matches) {
        document.querySelector('.stickyBottomNav').style.paddingBottom = '20px';

        window.addEventListener('DOMContentLoaded', function () {
            let infoHeightContainer =
                document.getElementById('info-container').style.height;

            console.log(infoHeightContainer);

            // data example "calc((var(--vh, 1vh) * 100) - 308.5px)" and i want to get the 308.5px
            let hight_data = infoHeightContainer.split('px')[0].split(' - ')[1];

            console.log(hight_data);

            hight_data = parseFloat(hight_data);
            hight_data = hight_data + 20;

            console.log(hight_data);

            let new_hight_data = 'calc((var(--vh, 1vh) * 100) - ' + hight_data + 'px';

            document.getElementById('info-container').style.height = new_hight_data;

            console.log(document.getElementById('info-container').style.height);
        });
    }

    window.addEventListener('DOMContentLoaded', function () {
        document.body.style.overflow = 'hidden';
    });
</script>
