<link rel="stylesheet" href="https://use.typekit.net/pbm5dyg.css">
<link rel="stylesheet" href="/static/css/overlays/navbar.css">

<div class="stickyTopNav">
    <img src="/static/images/logo/ButrosGrootLogo2.svg">
</div>

<div class="stickyBottomNav">
    <ul>
        <li><a href="{% url 'home' %}"><img src="/static/images/navbar/home.svg"></a></li>
        <li><a href="{% url 'teams' %}"><img src="/static/images/navbar/group.svg"></a></li>
        <li><a href="{% url 'profile' %}"><img src="/static/images/navbar/profile.svg"></a></li>
    </ul>
</div>