body {
    margin: 0;
    font-family: termina, sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.flex-start-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.carousel-container {
    overflow: hidden;
    border-bottom: 6px solid var(--button-color);
    width: 100%;
}

.carousel {
    display: flex;
    width: 100%;
}

.button {
    flex: 0 0 calc(90vw / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px; /* Adjust the height as needed */
    color: black;
    background: transparent;
    transition: background 0.3s ease;
    cursor: pointer;
    font-size: 14px;
}

.button.active {
    background: var(--button-color);
    color: white;
}

.icon-container {
    position: absolute;
    right: 46px;
    top: 64px;
    width: auto; /* use auto to fit the width of the SVG */
    height: 32px; /* height of the volgen-icon */
    cursor: pointer;
    display: inline-block; /* ensures the container fits its children */
}

.volgen-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    width: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(0.8); /* initial scaled down state */
    opacity: 0;
}

/* Initial visibility based on data-followed attribute */
.icon-container[data-followed="true"] #follow-full,
.icon-container[data-followed="false"] #follow-outline {
    opacity: 1;
    transform: scale(1); /* scale back to original size */
}

.settings-icon {
    height: 32px;
    width: auto;
    position: absolute;
    right: 48px;
    top: 64px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    top: -32px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}