{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/teams/index.css">
        <link rel="stylesheet" href="/static/css/color/color.css">

        <link rel="icon" href="/static/images/logo/KWT_logo.png" type="image/x-icon">

        <link rel="manifest" href="/static/json/manifest.json">
        <script src="/static/js/pwa/service-worker.js"></script>
    </head>
    <body>
        {% include 'overlays/navbar.html' %}

        <div class="flex-column" style="margin: 64px 8px 0 8px;">
            <div class="flex-row">
                <select id="type">
                    <option value="teams">Teams</option>
                    <option value="clubs">vereniging</option>
                </select>
                <div id="search-container-full" class="flex-row" style="width: auto;"> 
                    <div class="search-container">
                        <div class="search-icon">
                            <img src="/static/images/search.svg" alt="search">
                        </div>
                        <input type="text" class="search-input" placeholder="Search for a team">
                    </div>
                </div>
            </div>

            <div id="info-container" class="teams-container" style="margin-top: 16px; padding-bottom: 8px; height: calc((var(--vh, 1vh) * 100) - 184px);">
                {% if teams %}
                <h2 style="margin: 0; font-size: 16px;">Aangesloten</h2>
                {% endif %}
                
                {% for team in teams %}
                <a href="/team/{{ team.id_uuid }}" class="flex-column team-button">
                    <div class="flex-row team-container">
                        <p style="font-weight: 600; ">{{ team_name }}</p>
                    </div>
                </a>
                {% endfor %}

                {% if following_teams %}
                <h2 style="margin: 0; font-size: 16px;">Volgend</h2>
                {% endif %}

                {% for team in following_teams %}
                <a href="/team/{{ team.id_uuid }}" class="flex-column team-button">
                    <div class="flex-row team-container">
                        <p style="font-weight: 600; ">{{ team_name }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <script src="{% static '/js/teams/index.js' %}"></script>
        <script src="{% static '/js/programs/mobile_view.js' %}"></script>
    </body>
</html>
