{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta name="description" content="" />

        <link rel="stylesheet" href="{% static 'css/teams/index.css' %}" />

        {% include 'common/imports.html' %}
    </head>
    <body>
        {% include 'overlays/navbar.html' %}

        <div class="flex-column" style="margin: 64px 8px 0 8px">
            <div class="flex-row">
                <select id="type">
                    <option value="teams">Teams</option>
                    <option value="clubs">vereniging</option>
                </select>
                <div id="search-container-full" class="flex-row" style="width: auto">
                    <div class="search-container">
                        <div class="search-icon">
                            <img src="{% static 'images/search.svg' %}" alt="search" />
                        </div>
                        <input
                            type="text"
                            class="search-input"
                            placeholder="Search for a team"
                        />
                    </div>
                </div>
            </div>

            <div
                id="info-container"
                class="teams-container"
                style="
                    margin-top: 16px;
                    padding-bottom: 8px;
                    height: calc((var(--vh, 1vh) * 100) - 184px);
                "
            >
                <div class="flex-row">
                    {% if teams %}
                    <div class="selection-button active">Aangesloten</div>
                    {% endif %} {% if following_teams %}
                    <div class="selection-button">Volgend</div>
                    {% endif %}
                </div>

                {% for team in teams %}
                <a href="/team/{{ team.id_uuid }}" class="flex-column team-button">
                    <div class="flex-row team-container">
                        <p style="font-weight: 600">{{ team_name }}</p>
                    </div>
                </a>
                {% endfor %} {% for team in following_teams %}
                <a href="/team/{{ team.id_uuid }}" class="flex-column team-button">
                    <div class="flex-row team-container">
                        <p style="font-weight: 600">{{ team_name }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        {% csrf_token %}

        <script src="{% static 'webpack_bundles/hub_catalog.bundle.js' %}"></script>
        <script src="{% static 'js/programs/mobile_view.js' %}"></script>
    </body>
</html>
