body {
    margin: 0;
    font-family: termina, sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

.teams-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: calc(100vh - 203px);
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    background: #1DA1F2;
}

.player-container {
    width: calc(100vw * 1/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 156px;
}

.player-profile-pic {
    width: 96px;
    border-radius: 50%;
}

.player-name {
    margin: 8px;
}