body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.flex-start-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

h1 {
    margin: 0;
}

.teams-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: black;
}

.carousel-container {
    overflow: hidden;
    border-bottom: 6px solid var(--button-color);
    width: 100%;
}

.carousel {
    display: flex;
    width: 100%;
}

.button {
    flex: 0 0 calc(90vw / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px; /* Adjust the height as needed */
    color: black;
    background: transparent;
    transition: background 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}

.button.active {
    background: var(--button-color);
    color: white;
}

.player-container {
    width: calc(100vw * 1/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 156px;
    margin: 8px 0;
}

.player-profile-pic {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
}

.player-name {
    margin: 8px;
    word-break: break-all;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    top: -32px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.from-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;

    margin-left: 8px;
    margin-right: 8px;

    border-radius: 24px;

    width: calc(100% - 16px);
}

.text-input-shell {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    width: 100%;

    margin-top: 12px;
}

.text-checkbox-shell {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;

    width: 100%;

    margin-top: 12px;
}

.text-input {
    border: 2px #ebebeb;
    border-style: solid;
    background-color: #ffffff;

    color: #313131;

    font-size: 18px;

    padding: 8px;

    width: calc(100% - 20px);
}

.text-checkbox {
    border: 2px #ebebeb;
    border-style: solid;
    background-color: #ffffff;

    padding: 8px;

    width: 20px;

    margin-left: 12px;
}

.save-button {
    background-color: var(--button-color); 
    border: 0;

    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 18px;

    width: 100%;
    height: 48px;

    margin: 0;
    margin-top: 12px;
    margin-bottom: 6px;

    font-weight: 400;
    font-style: normal;

    border-radius: 4px;

    transition-duration: 0.4s;
    cursor: pointer;
}

.save-button.loading:before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
    border-top-color: transparent;
    border-right-color: transparent;
    animation: loading 1s linear infinite;
    position: absolute;
    left: calc(50% - 8px);
    transform: translate(-50%, -50%);
    margin-top: 3px;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.save-button.loading #save-button-text {
    visibility: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.image-preview {
    max-width: 95%;
    max-height: 70vh;
    margin: 20px 0;
}

.profile-container {
    position: relative;
    width: 128px;
    height: 128px;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);  /* Black background with 50% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

.profile-container.active-img .overlay {
    opacity: 1;
}

.overlay-icon {
    width: 40px;  /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    z-index: 2;
    margin-left: 6px;
}

.icon-container {
    position: absolute;
    right: 46px;
    top: 64px;
    width: auto; /* use auto to fit the width of the SVG */
    height: 32px; /* height of the volgen-icon */
    cursor: pointer;
    display: inline-block; /* ensures the container fits its children */
}

.volgen-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    width: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(0.8); /* initial scaled down state */
    opacity: 0;
}

/* Initial visibility based on data-followed attribute */
.icon-container[data-followed="true"] #follow-full,
.icon-container[data-followed="false"] #follow-outline {
    opacity: 1;
    transform: scale(1); /* scale back to original size */
}

.settings-icon {
    height: 32px;
    width: auto;
    position: absolute;
    right: 48px;
    top: 64px;
}

.logout-button {
    background-color: #FF0000; 
    border: 0;

    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;

    width: 100%;
    height: 48px;

    margin: 0;
    margin-top: 12px;
    margin-bottom: 6px;

    font-weight: 400;
    font-style: normal;

    border-radius: 4px;

    transition-duration: 0.4s;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    background: #D9D9D9;
    padding: 4px;
    border-radius: 4px;
    height: 24px;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

.search-icon {
    height: 24px;
    width: 24px;
    transition: 0.3s ease-in-out;
}

.search-container img {
    height: 24px;
    width: 24px;
}

.search-input {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    outline: none;
    width: 0;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    font-size: 16px;
    height: 100%;
}

.team-button {
    width: 100%; 
    min-height: 96px;

    border-top: 1px solid #D9D9D9;

    justify-content: space-around
}

.team-container {
    width: calc(100% - 124px);
    border-radius: 0 0 4px 4px;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

.past-request {
    background-color: #D9D9D9;
    border-radius: 4px;
    margin: 0;
    margin-right: 8px;

    display: flex;
    flex-direction: row;
}

.past-request-text {
    font-size: 16px;
    padding: 5px 0 5px 8px;
    margin: 0;
    margin-left: 4px;

    max-width: 72px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.remove-button {
    font-size: 16px;
    margin: 0;
    padding: 5px 8px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-size: 26px;
    font-weight: 600;
    padding: 0 1em 0 0;
    margin: 0;
    outline: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><path d="M0 0 L10 0 L5 5 z" fill="black"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px 5px;
    color: black;
}

option {
    font-size: 16px;
    font-weight: 300;
}

.selection-button {
    border: 2px solid var(--button-color);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 300;

    width: calc(50% - 24px);
    height: 32px;

    cursor: pointer;

    transition: background-color 0.3s ease;
}

.active {
    background-color: var(--button-color);
    color: white;
}

.team-logo {
    width: 64px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.stat-selector-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent; 
    border: 2px solid var(--button-color);

    color: black;
    text-decoration: none;

    font-size: 16px;

    width: 112px;
    height: 42px;

    font-weight: 400;
    font-style: normal;

    border-radius: 4px;

    transition-duration: 0.4s;
    cursor: pointer;
}

.stat-selector-button.active {
    background-color: var(--button-color);

    color: var(--text-color);
}
