{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta name="description" content="Registration">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="/static/css/authentication/login_registration.css">
        <link rel="stylesheet" href="/static/css/color/color.css">

        <link rel="stylesheet" href="https://use.typekit.net/pbm5dyg.css">
        <link rel="icon" href="/static/images/logo/KWT_logo.png" type="image/x-icon">
    </head>
    <body style="background-color: #1b1b1b; color: var(--text-color);">
        {% include 'overlays/navbar.html' %}
        <div class="flex-column" style="margin-top: 64px; height: 80vh">
            <div class="flex-column" style="width: 512px;">
                <h2 class="text-font" style="text-weight: 600; font-size: 24px;">Password Reset Complete</h2>
                <p class="text-font">Your password has been successfully reset.</p>
                <a class="CHK2-button" style="width: 80%; display: flex; align-items: center; justify-content: center; -webkit-appearance: button; -moz-appearance: button; appearance: button;" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </body>
</html>