{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta name="description" content="Registration">
        
        <link rel="stylesheet" href="/static/css/authentication/login_registration.css">

        {% include 'common/imports.html' %}
    </head>
    <body style="background-color: #1b1b1b; color: var(--text-color)">
        {% include 'overlays/navbar.html' %}

        <div class="flex-column" style="margin-top: 64px; height: 80vh">
            <h2 class="text-font" style="font-weight: 600; font-size: 26px;">Password Reset</h2>
            <form class="form-container" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="CHK2-button" type="submit">Reset Password</button>
            </form>
        </div>
    </body>
</html>