body {
    margin: 0;
    font-family: termina, sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.flex-start-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}

.login_button {
    margin-top: 12px;
    background: var(--button-color);
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    width: 128px;
}