[Unit]
Description=Daphne KWT Server
After=network.target

[Service]
User=butros
WorkingDirectory=/home/butros/korfbal
ExecStart=/bin/bash -c 'source /home/butros/korfbal/.env/bin/activate && /home/butros/korfbal/.env/bin/daphne -p 8001 -b 0.0.0.0 korfbal.asgi:application'
Restart=always
SyslogIdentifier=butrosgroot

[Install]
WantedBy=multi-user.target
