[Unit]
Description=uWSGI service for KWT Django application
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/butros/korfbal
ExecStart=/home/butros/korfbal/.env/bin/uwsgi --ini /home/butros/korfbal/uwsgi.ini
ExecReload=/bin/bash -c "touch /home/butros/korfbal/reload.flag && kill -HUP $MAINPID"

[Install]
WantedBy=multi-user.target