{% load static %}
<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Authenticatie{% endblock %}</title>
        <meta
            name="description"
            content="{% block meta_description %}Authenticatie pagina{% endblock %}"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="{% static 'css/authentication/login_registration.css' %}"
        />
        <link rel="stylesheet" href="{% static 'css/color/color.css' %}" />
        {% include 'common/imports.html' %} {% block extra_head %}{% endblock %}
    </head>
    <body class="background-color">
        {% include 'overlays/navbar.html' %} {% block page_content %}{% endblock %} {%
        include 'overlays/footer.html' %} {% block extra_body %}{% endblock %}
    </body>
</html>
