{% extends 'authentication/base_auth.html' %} {% block title %}Registratie{% endblock %}
{% block meta_description %}Registratie voor korfbal wedstrijd tracker{% endblock %} {%
block page_content %}
<div class="CHK2">
    <div class="CHK2-row">
        <div
            class="CHK2-text"
            style="flex-basis: {% if device.is_mobile %}calc(100% - 24px){% else %}456px{% endif %};"
        >
            <div class="flex-row" style="justify-content: center; margin-bottom: 24px">
                <img
                    src="{% if device.is_mobile %}images/Logo/Profile_Picture_Final.png{% else %}images/icon/BJG.png{% endif %}"
                    alt="logo"
                    style="width: 96px; height: 100%; border-radius: 360px"
                />
            </div>
            <div class="flex-column" style="margin-bottom: 32px">
                <h1 class="CHK2-H" style="margin: 0">
                    {% if device.is_mobile %}Welcome!{% else %}Hello again!{% endif %}
                </h1>
                <div>
                    <p class="CHK2-P" style="color: lightgray">
                        Registreer je voor de korfbal wedstrijd tracker
                    </p>
                </div>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <div>
                    <input
                        type="text"
                        id="id_username"
                        name="username"
                        maxlength="150"
                        autofocus
                        required
                        class="CHK2-text-input"
                        placeholder="Gebruikersnaam..."
                        autocomplete="username"
                    />
                </div>
                <div>
                    <input
                        type="email"
                        id="id_email"
                        name="email"
                        maxlength="254"
                        class="CHK2-text-input"
                        placeholder="Email..."
                        autocomplete="email"
                    />
                </div>
                <div>
                    <input
                        type="password"
                        id="id_password1"
                        name="password1"
                        autocomplete="new-password"
                        required
                        class="CHK2-text-input"
                        placeholder="Wachtwoord..."
                    />
                </div>
                <div>
                    <input
                        type="password"
                        id="id_password2"
                        name="password2"
                        autocomplete="new-password"
                        required
                        class="CHK2-text-input"
                        placeholder="Herhaal Wachtwoord..."
                    />
                </div>
                <input
                    type="submit"
                    class="CHK2-button"
                    name="Create User"
                    value="Create User"
                />
            </form>
            <p class="CHK2-P">{{ form.errors }}</p>
            <p class="CHK2-P">
                Heb je al een account?
                <a
                    href="{% url 'login' %}"
                    style="color: var(--button-color); margin-left: 12px"
                    >login</a
                >
            </p>
            <p class="CHK2-P">
                <a
                    href="/password_reset/"
                    style="color: var(--button-color); margin-left: 12px"
                    >Wachtwoord vergeten?</a
                >
            </p>
        </div>
    </div>
</div>
{% endblock %}
