{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Block for page title. Default to "KWT" or something generic -->
        <title>{% block title %}KWT{% endblock %}</title>
        
        <meta charset="utf-8" />
        <meta name="description" content="{% block meta_description %}Korfbal Wedstrijd Tracker{% endblock %}" />
        
        {% include "common/imports.html" %} 
    </head>

    <body class="background-color">
        <!-- Navbar included in every page -->
        {% include 'overlays/navbar.html' %}

        <!-- The main content block that changes per page -->
        <main 
            class="flex-column content-background-color"
            style="
                margin-top: 48px;
                width: 100%;
                height: calc((var(--vh, 1vh) * 100) - 112px);
                justify-content: flex-start;
            "
        >
            {% block content %}{% endblock %}
        </main>

        <!-- Footer included in every page -->
        {% include 'overlays/footer.html' %}
    </body>
</html>