body {
    margin: 0;
    padding: 0;
    
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.background-color {
    width: 100%;
    background-color: var(--primary_color);
}

.break {
    flex-basis: 100%;
    height: 0;
}

.hidden{
	display: none!important;
}

.CHK2 {
    width: 100%;
    min-height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 50%;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;

    padding-top: 2vh;
    padding-bottom: 6vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.CHK2-row {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    justify-content: center;

    margin-top: 2vh;
}

.CHK2-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;

    margin-left: 1vw;
    margin-right: 1vw;

    border-radius: 24px;

    padding: 3vh;
}

.CHK2-H {
    font-size: 32px;
    font-family: termina, sans-serif; 
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01em;
    text-transform: none;
    margin: 0;
    padding: 0; 
    color: var(--text-color);

    margin-bottom: 2vh;
}

.CHK2-H2 {
    font-size: calc((1.5 - 1) * 1.2vh + 1rem);
    font-family: termina, sans-serif; 
    font-weight: 700;
    font-style: normal;
    letter-spacing: .01em;
    text-transform: none;
    margin-bottom: 0;
    padding-bottom: 0;
    color: black;

    width: 90%;

    margin-left: 2vw;
    margin-right: 2vw;

    margin-top: 1vw;
    margin-bottom: 0.7vw;
}

.CHK2-img {
    left: 0%;
    top: 0%;
    width: 90%;
    border-radius: 24px;
    height: auto;
}

.CHK2-P {
    font-size: 12px;
    font-family: termina, sans-serif; 
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01em;
    text-transform: none;
    color: var(--text-color);

    margin-top: 6px;
    margin-bottom: 6px;
}

.CHK2-text-input-shell {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

    width: 100%;

    margin-top: 0.5vh;
    margin-bottom: 0.5vh;

    margin-left: 2vw;
    margin-right: 2vw;
}

.CHK2-text-checkbox-shell {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

    width: 100%;

    margin-top: 3vh;
    margin-bottom: 3vh;

    margin-left: 2vw;
    margin-right: 2vw;
}

.CHK2-text-input {
    border: 2px #ebebeb;
    border-style: solid;
    background-color: #ffffff;

    color: #313131;

    font-size: 16px;

    padding: 8px;

    width: calc(100% - 12px);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    border: 2px #ebebeb;
    border-style: solid;
    background-color: #ffffff;

    color: #313131;

    font-size: 16px;

    padding: 8px;

    width: calc(100% - 20.2px);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.form-container p,
.form-container li {
    margin: 0;
    
    font-family: termina, sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.CHK2-button {
    background-color: var(--button-color); 
    border: 0;

    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 16px;
    
    cursor: pointer;

    width: 100%;
    height: 48px;

    margin: 0;
    margin-top: 12px;
    margin-bottom: 6px;

    font-family: termina, sans-serif;
    font-weight: 400;
    font-style: normal;

    border-radius: 4px;

    transition-duration: 0.4s;
    cursor: pointer;
}

.CHK2-button:hover {
    color: black;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}