{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta name="description" content="">

        <link rel="stylesheet" href="{% static 'css/clubs/detail.css' %}">
        
        {% include 'common/imports.html' %}
    </head>
    <body>
        {% include 'overlays/navbar.html' %}

        <div class="flex-column" style="margin-top: 48px;">
            <div class="flex-column" style="background: #1b1b1b; justify-content: flex-end; width: 100%;">
                <div class="flex-row" style="width: calc(100% - 32px); height: 64px; justify-content: flex-start; margin: 0 16px;">
                    <img alt="club-logo" src="{{ club.get_club_logo }}" style="height: 48px; width: 48px; object-fit: contain;"></a>
                    <p style="font-weight: 600; color: white; margin-left: 12px;">{{ club.name }}</p>
                </div>
                <div class="icon-container" data-followed="{% if following %}true{% else %}false{% endif %}">
                    <img id="follow-full" src="{% static 'images/heart-full.svg' %}" alt="volgen" class="volgen-icon">
                    <img id="follow-outline" src="{% static 'images/heart-outline.svg' %}" alt="volgen" class="volgen-icon">
                </div>
                {% if admin %}
                <img id="settings" src="{% static 'images/settings.svg' %}" alt="instellingen" class="settings-icon">
                {% endif %}
            </div>

            <div class="carousel-container">
                <div class="carousel">
                    <a class="button active" data="teams">teams</a>
                    <a class="button" data="wedstrijden">Programma</a>
                    <a class="button" data="ended_matches">Uitslagen</a>
                </div>
            </div>
            <div id="info-container" style="height: calc((var(--vh, 1vh) * 100) - 218.5px); width: 100%; overflow-y: scroll;">

            </div>
        </div>

        <p style="display: none;" id="user_id">{{ request.user.id }}</p>

        <script src="{% static 'webpack_bundles/club_detail.bundle.js' %}"></script>
        <script src="{% static 'js/programs/mobile_view.js' %}"></script>
    </body>
</html>