name: ESLint Code Analysis

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    eslint:
        if: ${{ !contains(github.event.head_commit.message, 'Sync from monorepo') }}
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: ./.github/actions/setup-node
              with:
                  node-version: '22'

            - name: Run ESLint
              run: |
                  pnpm --dir apps/django_projects/korfbal run lint

            - name: Ensure ESLint Report Exists
              run: |
                  touch eslint-report.txt

            - name: Upload ESLint Results
              if: ${{ failure() }}
              uses: actions/upload-artifact@v3
              with:
                  name: eslint-results
                  path: eslint-report.txt
